// BANNER :: START


//- VARIABLE
//- ==========
-
  var sliderLocationArr = [
    "ЖК «Гринхаус»",
    "Петровский квартал",
    "ЖК на ул. Макаренко",
    "Luxury Village"
  ];
//- ==========
//- MIXIN
//- ==========
mixin carouselBg()
  div(class="banner__carousel banner__carousel--apartment")
    div(carousel-apartment-js)
      -for(var i = 0; i < 5; i++)
        div(
          class="banner__carousel-image"
          style="background-image: url('./img/img-bg__apartment.jpg')"
        )


mixin sliderLocation()
  div(class="banner__slider banner__slider--apartment")
    div(slider-apartment-js)
        div(class="slider__banner-content" style="width: 200px;")
          h3!= "ЖК «Гринхаус»"
        div(class="slider__banner-content" style="width: 200px;")
          h3!= "Петровский квартал"
        div(class="slider__banner-content" style="width: 200px;")
          h3!= "ЖК на ул. Макаренко"
        div(class="slider__banner-content" style="width: 200px;")
          h3!= "Luxury Village"
//- ==========


.banner
  .banner__gradient


  +carouselBg()

  .container.container--slider

    +sliderLocation()

  include ../macros/_mouse


// BANNER :: END
