// BANNER :: START


//- VARIABLE
//- ==========
-
  var sliderLocationArr = [
    "ЖК «Гринхаус»",
    "Петровский квартал",
    "ЖК на ул. Макаренко",
    "Luxury Village"
  ];
//- ==========
//- MIXIN
//- ==========
mixin carouselBg()
  div(class="banner__carousel banner__carousel--apartment")
    div(carousel-apartment-js)
      -for(var i = 0; i < 5; i++)
        div(
          class="banner__carousel-image"
          style="background-image: url('./img/img-bg__apartment.jpg')"
        )


mixin sliderLocation()
  div(class="banner__slider banner__slider--apartment")
    div(slider-apartment-js)
      -for(var i = 0, len = sliderLocationArr.length; i < len; i++)
        div(class="slider__banner-content" style="width: 200px;")
          p.banner__slider-badge!= "НОВЫЕ КОРПУСА С ОТДЕЛКОЙ"
          p.banner__slider-name!= sliderLocationArr[i]
          p.banner__slider-info!= "г. Тула, ул. Фрунзе, д. 20"


mixin swapInfo()
  div(class="banner__swap banner__swap--apartment")
    div(swap-apartment-js)
      -for(var i = 0; i < 5; i++)
        div(
          class="banner__swap-content"
        )
          p.banner__swap-title!= "Квартиры"
          .banner__swap-wrap
            p!= "2 комн. от <span>5 500 000₽</span>"
            p!= "5 комн. от <span>16 000 000₽</span>"
          a(href="#" class="banner__swap-btn" title="")!= "ПОДОБРАТЬ КВАРТИРУ"
//- ==========


.banner
  .banner__gradient

  +carouselBg()

  .container.container--slider

    +sliderLocation()

  .container.container--swap

    +swapInfo()

  include ../macros/_mouse


// BANNER :: END
