//- VARIABLE
//- ==========
-
  var tabMenuArr = [
    "Квартиры",
    "Коммерческая недвижимость",
    "Кладовые",
    "Земля",
    "Машиноместа"
  ];
  var tabMenuColorArr = [
    "emerald",
    "gold",
    "blizzardBlue",
    "lightningYellow",
    "deepCerise"
  ];
  var tabMenuAttr = [
    "apartment",
    "commercial",
    "storerooms",
    "earth",
    "carParking"
  ];
  var tabHrefAttr = [
    "homepage",
    "commercial",
    "storerooms",
    "earth",
    "parking"
  ];
//- ==========


.tab
  ul.tab__list
    -for(var i = 0, len = tabMenuArr.length; i < len; i++)
      li(
        class!= (bodyClass === tabHrefAttr[i]) ? "is-active tab__item tab__item-" + i:"tab__item tab__item-" + i
        data-tab= tabMenuAttr[i]
        tab-js
      )
        a(
          href!= tabHrefAttr[i] + ".html"
          class!="tab__link tab__link--" + tabMenuColorArr[i]
          title=""
        )!= tabMenuArr[i]
